<div class="education-item">
    <div class="education-header">
        <h3 class="degree">{{degree}}</h3>
        <div class="school-info">
            <span class="school">{{school}}</span>
            <span class="year">{{year}}</span>
        </div>
    </div>
    {{#if gpa}}
    <p class="gpa">GPA: {{gpa}}</p>
    {{/if}}
    {{#if honors}}
    <p class="honors">{{honors}}</p>
    {{/if}}
</div>