<header class="resume-header">
    <h1 class="name">{{name}}</h1>
    <div class="contact-info">
        <span class="email">{{email}}</span>
        {{#if phone}}
        <span class="phone">{{phone}}</span>
        {{/if}}
        {{#if location}}
        <span class="location">{{location}}</span>
        {{/if}}
        {{#if linkedin}}
        <span class="linkedin">{{linkedin}}</span>
        {{/if}}
    </div>
</header>